<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOGETIDEVS</title>
</head>

<body>
<div class="container">
    <h1>Dev User</h1>

    <table id="example" class="display" cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr>
            <th>username</th>
            <th>name</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
          <!--tr ng-repeat="user in userlist">
              <td>{{user.username}}</td>
              <td>{{user.name}}</td>
          </tr-->
          </tbody>
      </table>
</html>
